*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #858585;
    font-family: 'Quicksand', sans-serif
}
.about{
    width:100%;
    padding: 100px 0px;
    background-color: #858585;

}
.about img{
    height: auto;
    width: 500px;
    border-radius: 50px;
}
.about_text{
    width: 550px;
    margin-left: px;
}
.about_main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fcfcfc;
}
.about_main h2{
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom:20px;
}
.about_main h5{
    color: bisque;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about_main p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
button{
    color: white;
    background-color: #f9004d;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border:2px solid #f9004d;
    cursor: pointer;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: rgb(0, 27, 100);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}
nav ul li a:hover{
    color: burlywood;
    transition: .4s;}

    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .logo{
        font-size: 25px;
        color: #00abf0;
        text-decoration: none;
        font-weight: 600;
    }
    
    .navbar a{
        font-size: 18px;
        color: darkgreen;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: .3s;
    }
    .navbar a.btn{
        background-color: brown;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
        transition: transform .4s;
    }
    .btn:hover{
        transform: scale(1.2);
    }
    
    .navbar a:hover, 
    .navbar a.active {
        color: #00abf0;
    }
    